* {
    border: none;
    text-decoration: none;
}

body {
    margin: 0;
}

button, input {
    font-size: 1rem;
    padding: 0.5rem;

    &:hover {
        background-color: rgb(217, 231, 248);
    }
}

div.flex {
    display: flex;
    gap: 0.5rem;
    background-color: lightgray;
    padding: 0.5rem;
    width: fit-content;
    font-size: 1rem;
  }
